article div div::-webkit-scrollbar {
    width: 0;             
}
    article div div::-webkit-scrollbar-track {
        background: rgba(0,0,0,0.3);  
        margin:4px;
    }
    article div div::-webkit-scrollbar-thumb{
            background-color: #d97706; 
            cursor: pointer;
    }

body::-webkit-scrollbar{
    width: 0;
}

input[type="range"]::-webkit-slider-thumb{
   opacity: 0;

}

input[type="range"]{
    background-image: linear-gradient(#f59e0b,#f59e0b);
}

