.personalized-scroll::-webkit-scrollbar {
    width: 0;             
}
    .personalized-scroll::-webkit-scrollbar-track {
        background: rgba(0,0,0,0.3);  
        margin:4px;
    }
    .personalized-scroll::-webkit-scrollbar-thumb{
            background-color: #d97706; 
            cursor: pointer;
    }

body::-webkit-scrollbar{
    width: 0;
}

input[type="range"]::-webkit-slider-thumb{
   opacity: 0;

}

input[type="range"]{
    background-image: linear-gradient(#f59e0b,#f59e0b);

}


.overflow-y-scroll::-webkit-scrollbar {
	width: 10px;
}
.overflow-y-scroll::-webkit-scrollbar-track {
	background: transparent;
}
.overflow-y-scroll::-webkit-scrollbar-thumb {
	background: #2828289c;

}

